# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [14]:
Weather_df=pd.read_csv(r'C:\Users\akibo\Desktop\Columbia Bootcamp\Python-API-Weather\Resources\Weather_Data')
api_key='AIzaSyBWDcgprBkPAgogR36oTbZu1qAPbOolllQ'

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key='AIzaSyBWDcgprBkPAgogR36oTbZu1qAPbOolllQ')

In [4]:
locations = Weather_df[["Latitude", "Longitude"]].astype(float)
humidity_=Weather_df['Humidity'].astype(float)

figure=gmaps.figure(center=(48.0,0.0),zoom_level=2)

heat_layer=gmaps.heatmap_layer(locations,weights=humidity_,dissipating=False,max_intensity=100,point_radius=1,opacity=1)

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
Weather_df1=Weather_df.loc[Weather_df['Max Temperature']<80]
Weather_df2=Weather_df1.loc[Weather_df1['Max Temperature']>70]
Weather_df3=Weather_df2.loc[Weather_df2['Wind Speed']<10]
Weather_final=Weather_df3.loc[Weather_df3['Cloud Cover']==0]

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
Weather_final

,Unnamed: 0,Date,Latitude,Longitude,City,Country,Cloud Cover,Wind Speed,Humidity,Max Temperature
92,92,1593277823,48.73,40.36,tarasovskiy,RU,0,5.91,54,72.36
96,96,1593277823,45.32,55.20,beyneu,KZ,0,5.10,22,74.97
112,112,1593277825,54.43,31.90,sobolevo,RU,0,6.13,83,72.16
187,187,1593277830,42.80,93.45,hami,CN,0,7.00,31,78.71
320,320,1593277841,37.81,120.75,dengzhou,CN,0,3.78,81,70.32
325,325,1593277841,46.91,36.83,osypenko,UA,0,4.36,55,73.47
333,333,1593277842,30.32,35.48,wadi musa,JO,0,7.40,39,75.87
336,336,1593277842,-15.72,46.32,mahajanga,MG,0,4.70,78,77.00
348,348,1593277843,54.42,16.41,darlowo,PL,0,5.37,78,70.86
363,363,1593277845,27.98,-114.06,guerrero negro,MX,0,2.80,49,75.33
423,423,1593277850,51.32,42.77,kamenka,RU,0,3.00,50,75.99
481,481,1593277626,-19.52,45.47,miandrivazo,MG,0,0.89,56,77.29
539,539,1593277862,32.50,62.50,farah,AF,0,5.53,24,79.79

In [16]:
for index, row in Weather_final.iterrows():

    # Pass in information from dataframe into the API
    Hotel_City = row['City']
    Country_ = row['Country']
    Latitude = row['Latitude']
    Longitude = row['Longitude']

    print(f"Retrieving Results {Hotel_City}.")
    
    response = requests.get(f"https://maps.googleapis.com/maps/api/place/textsearch/json?location={Latitude},{Longitude}&radius=5000&type=hotel&key={api_key}").json()
    
    # extract results
    results = response['results']
    
    try:
        hotelname = response['results'][7]['name']
        
        Weather_final.loc[index, "Hotel Name"] = hotelname
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results tarasovskiy.
------------
Retrieving Results beyneu.
------------
Retrieving Results sobolevo.
------------
Retrieving Results hami.
------------
Retrieving Results dengzhou.
------------
Retrieving Results osypenko.
------------
Retrieving Results wadi musa.
------------
Retrieving Results mahajanga.
------------
Retrieving Results darlowo.
------------
Retrieving Results guerrero negro.
------------
Retrieving Results kamenka.
Missing field/result... skipping.
------------
Retrieving Results miandrivazo.
------------
Retrieving Results farah.
Missing field/result... skipping.
------------

In [19]:
# The hotel name is now added
Weather_final

,Unnamed: 0,Date,Latitude,Longitude,City,Country,Cloud Cover,Wind Speed,Humidity,Max Temperature,Hotel Name
92,92,1593277823,48.73,40.36,tarasovskiy,RU,0,5.91,54,72.36,ПАО КБ «Центр-инвест»
96,96,1593277823,45.32,55.20,beyneu,KZ,0,5.10,22,74.97,カザフテレコム
112,112,1593277825,54.43,31.90,sobolevo,RU,0,6.13,83,72.16,Dub Petra Pervogo
187,187,1593277830,42.80,93.45,hami,CN,0,7.00,31,78.71,Kumul Cultural Relics Bureau
320,320,1593277841,37.81,120.75,dengzhou,CN,0,3.78,81,70.32,Yitel Collection
325,325,1593277841,46.91,36.83,osypenko,UA,0,4.36,55,73.47,"ФЕРМЕРСЬКЕ ГОСПОДАРСТВО ""ГАДЕЦЬКИЙ"""
333,333,1593277842,30.32,35.48,wadi musa,JO,0,7.40,39,75.87,Candles Hotel
336,336,1593277842,-15.72,46.32,mahajanga,MG,0,4.70,78,77.00,PAP'S Chambre d'Hôtes
348,348,1593277843,54.42,16.41,darlowo,PL,0,5.37,78,70.86,Pensjonat Dzika Roza
363,363,1593277845,27.98,-114.06,guerrero negro,MX,0,2.80,49,75.33,Empresas Matco
423,423,1593277850,51.32,42.77,kamenka,RU,0,3.00,50,75.99,NaN
481,481,1593277626,-19.52,45.47,miandrivazo,MG,0,0.89,56,77.29,Hotel-Restaurant Fitiavana
539,539,1593277862,32.50,62.50,farah,AF,0,5.53,24,79.79,NaN

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in Weather_final.iterrows()]
locations = Weather_final[["Latitude", "Longitude"]]